<div class="<%= 'container' %>">
  <p>This <%= name %> list <%= 'is awesome' %>
    <strong><%= name + ' ' + 'is awesome' %></strong>
  </p>

  <ul>
    <% list.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <button class="<%= `btn btn-${'light' || 'default'}` %>">Submit</button>
</div>
