<div>
  <ul>
    {% for item in list %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <ul>
    {% for item in list %}
      <li>{{ item }} at {{ forloop.index0 }}</li>
    {% endfor %}
  </ul>

  <ul>
    {% for item in list %}
      <li>{{ item }} at {{ forloop.index0 }} of {{ list | join: ', ' }}</li>
    {% endfor %}
  </ul>
</div>
