<div class="<%= locals.className %>">
  <h1>Lorem Ipsum</h1>

  <div class="<%= locals.className %>"></div>

  <div>
    <input type="hidden" name="something"<% if (![null,undefined].includes(locals.something)) { %> value="<%= locals.something %>"<% } %> />
  
    <input type="hidden" name="connection-raw" value="<%= locals.connection.name %>" />
  
    <input type="hidden" name="connection" value="<%= locals.connection.strategy.toLowerCase() %>" />
  </div>
</div>
