div
  ul
    li Lower case: #{name.toLowerCase()}
    li Upper case: #{name.toUpperCase()}
    li Trim: #{name.trim()}
    li Trim + Upper: #{name.trim().toUpperCase()}
    li Trim + Upper + Lower: #{name.trim().toUpperCase().toLowerCase()}
    li Trim + Replace: #{name.trim().replace('foo', 'bar')}
    li Trim + CharAt: #{name.trim().charAt(0)}
