div(class=className)
  h1 Lorem Ipsum
  div(class=className)
  div
    input(type="hidden", name="something", value=something)
    input(type="hidden", name="connection-raw", value=connection.name)
    input(type="hidden", name="connection", value=connection.strategy.toLowerCase())
